@charset "utf8";

/* aside ou #banner*/
#banner {
    width: 100%;
    max-width: 600px;
    height: 150px;
    border: solid black 2px;
    margin: auto;
    
    /* altera o contexto de coordenadas <direções> (left,top right, bottom). sem ele, o contexto original é o BODY. Qualquer objeto que for posicionado:absolute, será em relação ao BODY. Aqui, estamos mudando isso (ficando em relação [relative] ao #banner). */ 
    position: relative;
    
    /* animation-name: mudaCor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    
    overflow: hidden;
    
}

#banner p {
    font-size: 1.8em;
    text-align: center;
    text-shadow: black 0 0 20px;
    color: white;
    font-weight: bold;
    
    /* posicionando de forma absoluta, ou seja, tornando possível posicionamento livre e com empilhamento. */
    position: absolute;
    
    /* após transformar em absolute, o elemento não se comporta mais como um bloco. Aqui, estamos fazendo-o ocupar novamente todo o espaço disponível. */
    width: 100%;
    
    /* Afastando do topo em 45px */
    top: 45px;
    
    /* propriedade que controla a ordem de empilhamento de objetos posicionados de maneira absoluta. Quanto o maior o valor, mais a "frente" o objetyo ficará. Quanto menor o valor, mais "abaixo/atrás" o objeto ficará. */
    z-index: 20;
    
    animation-name: giraTexto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#banner img {
    box-shadow: black 2px 2px 30px;
    position: absolute;
    z-index: 10;
    animation: animaImagem 2s alternate infinite ease-in-out;
}

/* Diretivas de animação. */
@keyframes giraTexto {
    from { transform: rotateX(0); }
    to { transform: rotateX(360deg); }
}

@keyframes animaImagem {
    from { 
        transform: translateX(-200px) rotate(0) scale(0.5);
        opacity: 0;
    }
    to {
        transform: translateX(500px) rotate(360deg) scale(1.5);
        opacity: 1;
    }
}
/* @keyframes mudaCor {
    0% { background-color: yellow; }
    50% { background-color: green; }
    100% { background-color: red; }
    
    percentual ou  from/to
    
    from { background-color: yellow; }
    to { background-color: red; }
} */
